body 
{
    direction:rtl;
background-color: lightgray;
}
#container
{
    width: 960px; height: 960px; margin: 10px auto; 
 
}
nav
{
    width: 960px; height:150px; margin: 0px 30px; 
}
ul 
{
    list-style: none;
}
nav ul li
{
display: inline-block; float: right;
}
.navli
{
    width: 150px; height: 150px; margin: 0px 0px; 
    background-color: #150892;
}
nav ul li a:hover
{
    background-color: Highlight;
    color: darkblue;
}
nav ul li a
{
    font-family: Alef; font-size: 25px;
    display: block; 
    background-color: #150892; color: white; 
    width: 150px; height: 90px;padding-top: 60px;
    text-decoration: none; 
    text-align: center;
}
#mepic
{
    background-image:url(../images/me180.jpg);
}
/*#hr
{
    background-color: #dd8803;
    color: darkblue;
}*/
#thisnow
{
background-color: Highlight; color: darkblue; font-weight: bold;
}
#content
{
    width: 800px; height: 590px; margin: 0px 30px;
    background-color: Highlight; padding: 70px 50px;
}
.text
{
    font-family: Alef; color: darkblue; font-size: 20px; 
    line-height: 35px;
}

#panda
{
    margin: 20px 30px;
}
